@import url('https://fonts.googleapis.com/css2?family=Damion&family=Days+One&family=Madimi+One&display=swap');


.nav-item {
    
    padding-top: 15px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    font-family: "Days One", sans-serif;
    
    
}

.nav-link {
    color: #ffffffda;
    transition: color .2s ease-in;
    
}

.nav-button{
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.home-button{
    margin:5px;
    border-radius:30px;
    border: none;
    width:60px; 
    height:60px;
    background-color: #ffffffda;
    transition: background-color .2s ease-in;
}

body {
  padding-top: 100px;
  background-color: rgba(219, 204, 204, 0.493);
}


header {
   
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999999;
     
    
  }

  footer {
    margin-top:4vw;
  }

  .nav-link:hover{
    color: #00c700;
  }

  .home-button:hover{
    background-color: #00c700;
  }


  .navbar {
    background-color: #202022e7 !important;
  }

  .page-title {
    font-family: "Damion", cursive;
    font-size: 10vw;
    margin-top: 100px;
    text-align: center;
  }
 
  