@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Damion&family=Days+One&display=swap');


.nav-item {
    
    padding-top: 10px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    font-family: "Days One", sans-serif;
    
    
}

.nav-link {
    color: #ffffffda;
    transition: color .2s ease-in;
    
}

.nav-button{
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.home-button{
    padding:4px; 
    border-radius:30px;
    border: none;
    width:60px; 
    height:60px;
    background-color: #ffffffda;
    transition: background-color .2s ease-in;
}

body{
    padding-top: 100px;
}

header {
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999999;
     
    
  }
  
  .nav-link:hover{
    color: #00c700;
  }

  .home-button:hover{
    background-color: #00c700;
  }


  .navbar {
    background-color: #202022e7 !important;
  }

  .page-title {
    font-family: "Damion", cursive;
    font-size: 10rem;
    margin-top: 100px;
    text-align: center;
  }
 
  